<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd">
     
    <task:annotation-driven executor="myExecutor" scheduler="myScheduler"/>
	<task:executor id="myExecutor" pool-size="5"/>
	<task:scheduler id="myScheduler" pool-size="10"/>
        
	<context:annotation-config/>
	<context:component-scan base-package="br.laramara.ti" />
	<tx:annotation-driven transaction-manager="transactionManager"/>
		
	<bean id="servicoSisLaraServer" class="br.laramara.ti.sislaraserver.servicos.rmi.ServicoSisLaraServerRmi">
	</bean>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSourceSisLara"/>
    </bean>

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	    <property name="location" value="/application.properties" />
	</bean>

	<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="serviceInterface" value="br.laramara.ti.sislaracommons.servicos.ServicoSisLaraServer" />
		<property name="service" ref="servicoSisLaraServer" />
		<property name="serviceName" value="${nome.servico}" />
		<property name="registryPort" value="${porta.servico}" />
	</bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="SisLaraPersistenceUnit" />
        <property name="dataSource" ref="dataSourceSisLara"/>
    </bean>
    
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
			
	<bean id="fabricaSislara" class="org.mybatis.spring.SqlSessionFactoryBean">
  		<property name="dataSource" ref="dataSourceSisLara" />
	</bean>
	
	<bean id="fabricaCEP" class="org.mybatis.spring.SqlSessionFactoryBean">
  		<property name="dataSource" ref="dataSourceCEP" />
	</bean>
	    
    <bean id="fabricaOracleRH" class="org.mybatis.spring.SqlSessionFactoryBean">
  		<property name="dataSource" ref="dataSourceOracle" />
	</bean>
    
    <bean id="dataSourceCEP" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${cep.driver.db}"/>
        <property name="jdbcUrl" value="${cep.url.db}${cep.host.db}:${cep.porta.db}/${cep.nome.base.db}"/>
        <property name="user" value="${cep.username.db}"/>
        <property name="password" value="${cep.password.db}"/>
        <property name="maxPoolSize" value="100"/>
        <property name="maxIdleTime" value="60"/>
    </bean>
    
    <bean primary="true" id="dataSourceSisLara" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${driver.db}"/>
        <property name="jdbcUrl" value="${url.db}${host.db}:${porta.db}/${nome.base.db}"/>
        <property name="user" value="${username.db}"/>
        <property name="password" value="${password.db}"/>
        <property name="maxPoolSize" value="100"/>
        <property name="maxIdleTime" value="60"/>
    </bean>

    <bean id="dataSourceSisLaraLegado" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${firebird.driver.db}"/>
        <property name="jdbcUrl" value="${firebird.url.db}${firebird.host.db}:${firebird.porta.db}/${firebird.nome.base.db}?encoding=WIN1252"/>
        <property name="user" value="${firebird.username.db}"/>
        <property name="password" value="${firebird.password.db}"/>
        <property name="maxPoolSize" value="100"/>
        <property name="maxIdleTime" value="60"/>
    </bean>
    
	<bean id="dataSourceOracle" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${oracle.driver.db}"/>
        <property name="jdbcUrl" value="${oracle.url.db}:@${oracle.host.db}:${oracle.porta.db}:${oracle.nome.base.db}"/>
        <property name="user" value="${oracle.username.db}"/>
        <property name="password" value="${oracle.password.db}"/>
    </bean>
</beans>
